//
#include "windows.h"
#include "commctrl.h"
#include "richedit.h"
#include "../include/resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

//
// Dialogs
//
DLG_ABOUT DIALOGEX 6, 18, 220, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About BRWATCH"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    ICON            IDR_ICO_MAIN,IDR_ICO_MAIN,5,10,21,20,SS_CENTERIMAGE
    LTEXT           "BRWATCHVxxx",IDC_STATIC_VERSION,20,20,180,10
    LTEXT           "https://github.com/hilch/brwatch", IDC_STATIC,20,30,180,10
    LTEXT           "Statisch",IDC_STATIC_PVIVERSION,20,50,180,10
	LTEXT			"note: parts of this software from www.zlib.net", IDC_STATIC,20,60,180,10
    LTEXT           "Statisch",IDS_ZLIB1,20,70,185,8
    PUSHBUTTON      "OK",IDOK,20,100,45,15,BS_FLAT
END

DLG_WRITE_NUMBERS DIALOGEX 6, 30, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Value"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "????",IDR_STATIC_NAME,42,6,236,12
    LTEXT           "Name:",IDC_STATIC,6,6,34,11
    LTEXT           "Task:",IDC_STATIC,6,30,34,11
    LTEXT           "CPU:",IDC_STATIC,6,42,34,11
    LTEXT           "Type:",IDC_STATIC,6,18,34,11
    LTEXT           "??????",IDC_STATIC_TASK,42,30,276,12
    LTEXT           "?????",IDC_STATIC_CPU,42,42,240,12
    LTEXT           "??????",IDC_STATIC_VARTYPE,41,18,240,8
	EDITTEXT        IDR_EDIT_VALUE,6,54,100,12,ES_AUTOHSCROLL | ES_RIGHT | ES_NUMBER
    PUSHBUTTON      "OK",IDOK,6,80,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "Apply",ID_APPLY,66,80,50,14,BS_CENTER | BS_FLAT
END

DLG_WRITE_STRINGS DIALOGEX 6, 30, 330, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Value"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "????",IDR_STATIC_NAME,42,6,236,12
    LTEXT           "Name:",IDC_STATIC,6,6,34,11
    LTEXT           "Task:",IDC_STATIC,6,30,34,11
    LTEXT           "CPU:",IDC_STATIC,6,42,34,11
    LTEXT           "Type:",IDC_STATIC,6,18,34,11
    LTEXT           "??????",IDC_STATIC_TASK,42,30,276,12
    LTEXT           "?????",IDC_STATIC_CPU,42,42,282,12
    LTEXT           "??????",IDC_STATIC_VARTYPE,41,18,283,8
    EDITTEXT        IDR_EDIT_VALUE,6,54,319,60, WS_VSCROLL | WS_HSCROLL | ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "OK",IDOK,6,130,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "Apply",ID_APPLY,66,130,50,14,BS_CENTER | BS_FLAT
END


DLG_WRITE_DATE_AND_TIME DIALOGEX 6, 30, 300, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Value"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "????",IDR_STATIC_NAME,42,6,236,12
    LTEXT           "Name:",IDC_STATIC,6,6,34,11
    LTEXT           "Task:",IDC_STATIC,6,30,34,11
    LTEXT           "CPU:",IDC_STATIC,6,42,34,11
    LTEXT           "Type:",IDC_STATIC,6,18,34,11
    LTEXT           "??????",IDC_STATIC_TASK,42,30,276,12
    LTEXT           "?????",IDC_STATIC_CPU,42,42,282,12
    LTEXT           "??????",IDC_STATIC_VARTYPE,41,18,283,8
    LTEXT           "Year:",IDC_STATIC,6,54,17,8
    LTEXT           "Month:",IDC_STATIC,78,54,21,12
    LTEXT           "Day:",IDC_STATIC,156,54,15,8
    EDITTEXT        IDC_EDIT_YEAR,24,54,40,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT_MONTH,102,54,40,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT_DAY,198,54,40,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Hour:",IDC_STATIC,6,72,17,8
    LTEXT           "Minute:",IDC_STATIC,78,72,22,8
    LTEXT           "Milliseconds:",IDC_STATIC,156,72,40,8
    EDITTEXT        IDC_EDIT_HOUR,24,72,40,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT_MINUTE,102,72,40,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_EDIT_MILLISECONDS,198,72,40,12,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "OK",IDOK,6,105,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "Apply",ID_APPLY,66,105,50,14,BS_CENTER | BS_FLAT
    LTEXT           "????",IDC_STATUS_MESSAGE,6,90,250,12
END


DLG_EDIT_CPU DIALOGEX 6, 30, 250, 112
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit CPU"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "CPU:",IDC_STATIC,6,6,34,12
    LTEXT           "?????",IDC_STATIC_CPU,42,6,240,12
    LTEXT           "MAC:",IDC_STATIC,6,18,34,12
    LTEXT           "?????",IDR_MAC_ADDRESS,42,18,240,12
    LTEXT           "AR-STATE:",IDC_STATIC,6,27,34,12
    LTEXT           "??????",IDR_STATIC_CPU_STATUS,42,27,276,12
    LTEXT           "IP:",IDC_STATIC,6,39,34,12
    EDITTEXT        IDR_EDIT_IPADDRESS,20,38,60,12, 0
    LTEXT           "SUBNET:",IDC_STATIC,84,39,34,12
    EDITTEXT        IDR_EDIT_SUBNETMASK,120,38,60,12, 0
    PUSHBUTTON      "CHANGE",IDR_BUTTON_CHANGEIP,186,37,50,14,BS_CENTER | BS_FLAT
    CONTROL         "DHCP-Client",IDR_CHECK_DHCP_CLIENT,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,6,50,168,10
    CONTROL         "INA activated",IDR_INA_ACTIVATED,"Button", BS_AUTOCHECKBOX | WS_TABSTOP,6,60,50,10
    LTEXT           "(Ina-Settings)",IDR_INA_SETTINGS,66,60,100,12
    PUSHBUTTON      "STOP",IDR_BUTTON_STOP,6,72,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "WARMSTART",IDR_BUTTON_WARMSTART,66,72,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "COLDSTART",IDR_BUTTON_COLDSTART,126,72,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "DIAG",IDR_BUTTON_DIAGNOSIS,186,72,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "Cancel",IDCANCEL,6,92,50,14,BS_CENTER | BS_FLAT
END


DLG_EDIT_TASK DIALOGEX 6, 30, 265, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP |
    WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Task"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    LTEXT           "TASK:",IDC_STATIC,6,6,34,11
    LTEXT           "?????",IDC_STATIC_TASK,42,6,240,12
    LTEXT           "Status:",IDC_STATIC,6,15,34,11
    LTEXT           "??????",IDR_STATIC_TASK_STATUS,42,15,276,12
    PUSHBUTTON      "STOP",IDR_BUTTON_STOP,6,30,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "RESUME",IDR_BUTTON_RESUME,66,30,50,14,BS_CENTER | BS_FLAT
    PUSHBUTTON      "START",IDR_BUTTON_START,126,30,50,14,BS_CENTER | BS_FLAT
    EDITTEXT        IDR_EDIT_NUMBER_OF_CYCLES,186,30,50,14,ES_RIGHT | ES_NUMBER
    LTEXT           "Cycles",IDC_STATIC,240,33,34,14
    PUSHBUTTON      "OK",IDOK,6,60,50,14,BS_CENTER | BS_FLAT
END


DLG_LOGGER_CONFIG DIALOGEX 6, 18, 242, 185
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "Logger Configuration"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 10, "MS Sans Serif", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "OK",IDOK,4,163,45,15,BS_FLAT
    PUSHBUTTON      "Discard Changes",IDCANCEL,56,163,58,15,BS_FLAT
    PUSHBUTTON      "...",IDR_BUTTON_FILESELECT,216,16,20,12
    EDITTEXT        IDR_EDIT_MAXSIZE,120,32,40,12,ES_AUTOHSCROLL | ES_NUMBER,
                    WS_EX_CLIENTEDGE
    EDITTEXT        IDR_EDIT_CYCLETIME,120,48,40,12,ES_AUTOHSCROLL |
                    ES_NUMBER
    CONTROL         "compress the backup files",IDC_CHECK_ZIP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,11,77,168,10
    EDITTEXT        IDR_EDIT_FILENAME,11,16,200,12,ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_TABSTOP
    GROUPBOX        "Logging File",4004,4,4,236,90
    LTEXT           "max. filesize (kBytes)",4002,11,32,105,12
    EDITTEXT        IDR_EDIT_TIMESTAMP_CPU,10,107,224,12,ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_TABSTOP
    GROUPBOX        "CPU to get timestamp from",4006,4,96,236,31
    LTEXT           "min. cycle time (ms)",4005,11,48,103,12
    GROUPBOX        "Statistics",4007,4,128,236,31
    EDITTEXT        IDR_EDIT_OBJECT_COUNT,120,139,44,12,ES_AUTOHSCROLL |
                    ES_READONLY | NOT WS_TABSTOP
    LTEXT           "count of logged objects:",4009,8,140,80,8
    CONTROL         "write only when value change",IDC_CHECK_CHANGED,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,11,62,222,13
END

DLG_SETTINGS DIALOGEX 0, 0, 480, 175
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION |
    WS_SYSMENU
CAPTION "Settings"
EXSTYLE WS_EX_DLGMODALFRAME
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,154,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,66,154,50,14
    EDITTEXT        IDC_EDIT1,7,7,466,141,ES_MULTILINE | ES_AUTOVSCROLL |
                    ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
END

//
// Menu
//

IDR_MNU_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Load Watch File",            IDM_LOAD_WATCH_FILE
        MENUITEM "&Save Watch File",            IDM_SAVE_WATCH_FILE
        MENUITEM "&Unzip Loggerfile",           IDM_LOGGER_UNZIPLOGGERFILE
        MENUITEM SEPARATOR
        MENUITEM "&Quit",                       IDM_QUIT
    END
    POPUP "PVI"
    BEGIN
        MENUITEM "PVI-&Objects",                IDM_STATUSPVIOBJEKTE
        MENUITEM SEPARATOR
        MENUITEM "&Clear All Objects",          IDM_MNU_REFRESH
    END
    POPUP "&Logger"
    BEGIN
        MENUITEM "Logger &Configuration",       IDM_LOGGER_CONFIG
        MENUITEM "Logger &Start",               IDM_LOGGER_START
    END
    POPUP "&Options"
    BEGIN
        POPUP "&Font"
        BEGIN
            MENUITEM "Select &New Font",            IDM_VIEW_SELECT_FONT
            MENUITEM "Set &Default Font",           IDM_VIEW_SETDEFAULTFONT
        END
        MENUITEM "&Settings",                   IDM_OPTIONS_SETTINGS
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About BRWATCH",              IDM_ABOUT
    END
END


//
// Strings
//


//
// DEFAULT_INI
//
IDR_DEFAULT_INI1        DEFAULT_INI             "default_brwatch.ini"


//
// Icons
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_ICO_MAIN            ICON                    "auge.ico"
IDR_ICO_PLOT            ICON                    "plot.ico"
IDR_ICO_PVI             ICON                    "pvi.ico"
IDR_ICO_TASK            ICON                    "task.ico"
IDR_ICO_STRUCT          ICON                    "struct.ico"
IDR_ICO_DEVICE          ICON                    "device.ico"
IDR_ICO_CPU             ICON                    "cpu.ico"
IDR_ICO_VARIABLE        ICON                    "variable.ico"
IDR_ICO_GLOBAL          ICON                    "global.ico"
IDR_ICO_VARIABLE_I32    ICON                    "i32.ico"
IDR_ICO_VARIABLE_U32    ICON                    "u32.ico"
IDR_ICO_ARRAY           ICON                    "array.ico"
IDR_ICO_VARIABLE_U8     ICON                    "u8.ico"
IDR_ICO_VARIABLE_I8     ICON                    "i8.ico"
IDR_ICO_VARIABLE_U16    ICON                    "u16.ico"
IDR_ICO_VARIABLE_I16    ICON                    "i16.ico"
IDR_ICO_VARIABLE_BOOL   ICON                    "boolean.ico"
IDR_ICO_VARIABLE_STRING ICON                    "string.ico"
IDR_ICO_VARIABLE_REAL   ICON                    "real.ico"
IDR_ICO_VARIABLE_DATE_AND_TIME ICON             "daten_and_time.ico"
IDR_ICO_VARIABLE_TIME   ICON                    "time.ico"


A ICON "auge.ico"

//
// Version
//


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,1,0
 PRODUCTVERSION 1,3,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04070000"
        BEGIN
            VALUE "FileVersion", "1.3.1.0"
            VALUE "ProductVersion", "1.3.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 0
    END
END





